# Node.js dependencies
node_modules/

# Next.js build files
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db
*.swp

# TypeScript
*.tsbuildinfo

# Editor settings
.idea/
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# npm Cache
.npm/

# Coverage directory
coverage/

# Dependency directories
jspm_packages/
bower_components/

# IDEs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.bak
*.log